.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom-style: solid;
  border-bottom-color: rgb(240, 238, 238);
  border-bottom-width: 2px;
}

.nav-logo {
  width: 40px;
}
.nav-items{
  list-style: none;
  display: flex;
}


.nav-items > li {
  padding: 10px;
}

.foot{
  border: 1px solid black;
  padding: 5px;
  width: 100%;
  background-color: #e0dddd;
  left: 0;
  position: fixed;
}

